<div class="container">

    <header class="mb-4 border-bottom border-primary-subtle">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Pagina Inicial - Registrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/list-clients">Lista de Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/talk-with-friend">Gere um Produto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="mt-10">

        <h1 class="mb-5 text-primary-sutle text-center">List Page</h1>

        <section class="mt-4">
            <row class="row mb-4">
                <div class="col-md-2">
                    <label class="form-label fw-bold">Nome</label>
                </div>

                <div class="col-md-2">
                    <label class="form-label fw-bold">Endereço</label>
                </div>

                <div class="col-md-2">
                    <label class="form-label fw-bold">CEP</label>
                </div>

                <div class="col-md-2">
                    <label class="form-label fw-bold">Telefone</label>
                </div>

                <div class="col-md-2">
                    <label class="form-label fw-bold">Data Marcada</label>
                </div>

                <div class="col-md-2">
                    <label class="form-label fw-bold ">Observação</label>
                </div>

            </row>
            {{#each agendamentos}}
            <row class="row mb-2 pb-3 border-bottom border-primary-sutle">
                <div class="col-md-2">
                    <label class="form-label">{{data.name}}</label>
                </div>

                <div class="col-md-2">
                    <label class="form-label">{{data.cep}}</label>
                </div>

                <div class="col-md-2">
                    <label class="form-label">{{data.address}}</label>
                </div>

                <div class="col-md-2">
                    <label class="form-label">{{data.phone}}</label>
                </div>

                <div class="col-md-2">
                    <label class="form-label">{{data.date}}</label>
                </div>

                <div class="col-md-2">
                    <label class="form-label ">{{data.observation}}</label>
                </div>

                <div class="col-md-2 flex flex-row g-2">
                    <a class="btn btn-outline-dark" href="/edit/{{id}}">Alterar</a>
                    <a class="btn btn-outline-danger" href="/delete/{{id}}">Excluir</a>
                </div>

            </row>
            {{/each}}


        </section>
    </main>
</div>