<main class="container m-5 ">

    <h1 class="mb-5 text-primary-sutle text-center">Update Page</h1>
    <form class="row g-3 needs-validation d-flex flex-row justify-content-center" action="/update" method="post">
        <div class="text-dark d-flex flex-column align-items-center col-6">
            {{#each agendamento}}
            <div class="row mb-4 w-100 d-flex flex-row justify-content-center">
                <div class="col">
                    <label for="inputName" class="form-label fw-bold">Nome</label>
                    <input type="hidden" class="form-control hidden" id="id" value="{{dataValues.id}}" name="id" />

                    <input type="text" class="form-control" id="name" value="{{dataValues.name}}" name="name"
                        placeholder="Nome Completo" required />
                    <div class="invalid-feedback">Nome.</div>
                </div>
            </div>

            <div class="row mb-4 w-100 d-flex flex-row justify-content-center">
                <div class="col">
                    <label for="inputAddress" class="form-label fw-bold">CEP</label>
                    <input type="text" class="form-control" id="CEP" value="{{dataValues.cep}}" name=" cep"
                        placeholder="Somente números" required />
                    <div class="invalid-feedback">CEP.</div>
                </div>
            </div>

            <div class="row mb-4 w-100 d-flex flex-row justify-content-center">
                <div class="col">
                    <label for="inputCEP" class="form-label fw-bold">Endereço</label>
                    <input type="text" class="form-control" id="address" value="{{dataValues.address}}" name="address"
                        placeholder="Rua" required />
                    <div class="invalid-feedback">Endereço.</div>
                </div>
            </div>

            <div class="row mb-4 w-100 d-flex flex-row justify-content-center">
                <div class="col">
                    <label for="inputCEP" class="form-label fw-bold">Telefone</label>
                    <input type="text" class="form-control" id="phone" value="{{dataValues.phone}}" name="phone"
                        placeholder="Telefone" required />
                    <div class="invalid-feedback">Telefone.</div>
                </div>
            </div>

            <div class="row mb-4 w-100 d-flex flex-row justify-content-center">
                <div class="col">
                    <label for="inputCEP" class="form-label fw-bold">Data de Agendamento</label>
                    <input type="date" class="form-control" id="date" value="{{dataValues.date}}" name="date"
                        placeholder="Data" required />
                    <div class="invalid-feedback">Data de Agendamento.</div>
                </div>
            </div>

            <div class="row mb-4 w-100 d-flex flex-row justify-content-center">
                <div class="col">
                    <label for="poinst" class="form-label fw-bold ">Observações</label>
                    <input type="text" class="form-control" id="observation" value="{{dataValues.observation}}"
                        name="observation" placeholder="Observaçao" />
                    <div class="invalid-feedback">Observação.</div>
                </div>
            </div>

            <div class="row mb-4 w-100 d-flex flex-row justify-content-start">
                <div class="col-md-2">
                    <button type="submit" class="button btn btn-outline-dark">Atualizar</button>
                </div>
            </div>

            {{/each}}

        </div>

    </form>

</main>